<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="#" target="_blank">
        <!-- <img src="/public/chs.png" width="10px"  alt="logo"> -->
        <h1>Officer Scheduler</h1>
      </a>
      
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Manage Officers" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter nz-Icon="user-add">
            <a routerLink="/officer">Officers</a>
          </li>
        
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Manage Schedules" nzIcon="copy" nzTheme="twotone">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="schedule" >Schedules</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" />
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
