<div class="table-actions" style="margin-bottom: 16px; display: flex; gap: 8px;align-items: center;">
  <h3 nz-title style="margin-right: auto;">Shifts</h3>
  <div style="display: flex; gap: 8px;">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input placeholder="Search officer by name" [(ngModel)]="searchText" (ngModelChange)="onSearch()"/>
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
   
    <button nz-button nzType="default" (click)="onPrint()">
      <nz-icon nzType="snippets" nzTheme="outline" />
     Print
    </button>
  </div>
  
</div>

<!-- Search input field -->
<!-- <div style="margin-bottom: 16px;">
  <nz-input-group [nzSuffix]="suffixIconSearch">
    <input type="text" nz-input placeholder="Search officer by name" [(ngModel)]="searchText" (ngModelChange)="onSearch()"/>
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <span nz-icon nzType="search"></span>
  </ng-template>
</div> -->



<nz-alert
  *ngIf="alertType"
  [nzType]="alertType"
  [nzMessage]="alertMessage"
  style="margin-bottom: 16px; justify-content: center;"
  nzShowIcon>
</nz-alert>

<nz-table
  [nzData]="filteredOfficers"
  [nzBordered]="true"
  [nzSize]="'small'"
  [nzShowPagination]="false"
>
  <thead>
    <tr>
      <th nzWidth="20%" ><h5 nz-typography>Officer Name</h5></th>
      <th><h5 nz-typography >Shifts</h5></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let officer of filteredOfficers">
      <td nzAlign="center" >{{ officer.fullName }}</td>
      <td>
        <ng-container *ngIf="officer.shifts.length > 0; else noShifts">
          <ul class="list-unstyled mb-0">
            <li *ngFor="let shift of officer.shifts">
              <strong>{{ shift.date | date:'fullDate' }}</strong>: 
              <span class="text-muted">
                {{ shift.type }}
                <ng-container *ngIf="shift.type === 'Day'">
                  <nz-icon nzType="sun" nzTheme="outline" style="color: #faad14;"/>
                </ng-container>
                <ng-container *ngIf="shift.type === 'Night'">
                  <nz-icon nzType="moon" nzTheme="outline" style="color: #1890ff;"/>
                </ng-container>
              </span>
    
            </li>
          </ul>
        </ng-container>
        <ng-template #noShifts>
          <span>No shifts</span>
        </ng-template>
      </td>
    </tr>
    <tr *ngIf="officers.length === 0">
      <td colspan="2">
        <nz-empty
          nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
        >
          <span>
            Results:
            <a href="#API">No officers found on system.</a>
          </span>
        </nz-empty>
      </td>
    </tr>
  </tbody>
</nz-table>